<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
</head>

<body>

<%- include("../partials/navbar") %>

<h1>Book Appointment</h1>


<form action="/appointments" method="POST">


<label>Service</label>
<br>

<input 
    type="text" 
    name="service"
    required
>

<br><br>



<label>Select Provider</label>
<br>

<select name="provider" required>

<option value="">
Choose Provider
</option>


<% providers.forEach(provider => { %>

<option value="<%= provider._id %>">
    <%= provider.username %>
</option>

<% }) %>


</select>


<br><br>



<label>Select Date & Time</label>

<br>


<% if (!availabilities || availabilities.length === 0) { %>

<p>
No availability found.
</p>


<% } else { %>


<% availabilities.forEach(availability => { %>


<h3>
<%= new Date(availability.date).toDateString() %>
</h3>



<% availability.slots.forEach(slot => { %>


<% if(slot.status === "available"){ %>


<label>

<input 
type="radio"
name="selectedSlot"
value="<%= availability._id %>|<%= slot.time %>"
required
>


<%= slot.time %>


</label>


<br>


<% } %>


<% }) %>


<br>


<% }) %>


<% } %>




<br>


<label>
Notes
</label>

<br>


<textarea
name="notes"
rows="4"
cols="40"
></textarea>


<br><br>



<button type="submit">
Book Appointment
</button>


</form>


</body>
</html>