<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Provider Dashboard</title>
</head>

<body>

    <%- include("../partials/navbar") %>

    <h1>Provider My Appointments</h1>

    <a href="/availability">
        Manage Availability
    </a>

    <br><br>

    <% if (appointments.length === 0) { %>

        <p>No appointments yet.</p>

    <% } %>


    <% appointments.forEach((appointment) => { %>

        <div>

            <h2>
                <%= appointment.service %>
            </h2>

            <p>
                Customer:
                <%= appointment.customer.username %>
            </p>

            <p>
                Date:
                <%= new Date(appointment.date).toDateString() %>
            </p>

            <p>
                Time:
                <%= appointment.startTime %>
                -
                <%= appointment.endTime %>
            </p>

            <p>
                Status:
                <%= appointment.status %>
            </p>


            <form
                action="/appointments/<%= appointment._id %>/accept?_method=PUT"
                method="POST"
            >

                <button type="submit">
                    Confirm
                </button>

            </form>


            <form
                action="/appointments/<%= appointment._id %>/cancel?_method=PUT"
                method="POST"
            >

                <button type="submit">
                    Cancel
                </button>

            </form>


            <h3>Reschedule</h3>

            <form
                action="/appointments/<%= appointment._id %>/reschedule?_method=PUT"
                method="POST"
            >

                <input
                    type="date"
                    name="date"
                    required
                >

                <input
                    type="time"
                    name="startTime"
                    required
                >

                <input
                    type="time"
                    name="endTime"
                    required
                >

                <button type="submit">
                    Reschedule
                </button>

            </form>


            <form
                action="/appointments/<%= appointment._id %>/complete?_method=PUT"
                method="POST"
            >

                <button type="submit">
                    Complete
                </button>

            </form>

            <hr>

        </div>

    <% }) %>

</body>

</html>