<!DOCTYPE html>
<html>
<head>
    <title>Provider Appointments</title>
</head>
<body>

<%- include("../partials/navbar") %>

<h1>My Appointments</h1>

<% if (appointments.length === 0) { %>

<p>No appointments.</p>

<% } %>

<% appointments.forEach(appointment => { %>

<div>

<h3><%= appointment.service %></h3>

<p>Date: <%= appointment.date.toDateString() %></p>

<p>Time:
<%= appointment.startTime %> -
<%= appointment.endTime %>
</p>

<p>Status:
<%= appointment.status %>
</p>

</div>

<hr>

<% }) %>

</body>
</html>